.navContainer{
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 10px;
    text-decoration: none;
}

a {
    color: black;
    font-size: 2rem;
}

.img1 {
    display: flex;
    flex-direction: row;
    width: 470px;
    height: 460px;
    padding-top: 40px;
}

.img2 {
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 460px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.p1 {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.p2 {
display: flex;
    justify-content: center;
    padding: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 20px;
    padding-left: 10px;
    width: 100vw;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: white;
}

@media screen and (max-width: 550px) {
    .img1 {
        display: flex;
        flex-direction: column;
    }
    .img2 {
        display: flex;
        flex-direction: column;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
}

